package $package;

public abstract class $class {

	private $class nextLayer;
	private $handlers context;

	public $class($handlers context){
		this.context = context;
	}

	public abstract void handle();
	
	public void setLinkedHandler($class handler) {
		this.nextLayer = handler;
	}
	
	public $handlers getContext() {
		return this.context;
	}
	
	public $class getNextLayer() {
		return this.nextLayer;
	}

}