package eu.linksmart.limbo.handler;

import java.io.IOException;
import java.io.OutputStream;

import javax.microedition.io.Connection;
import javax.microedition.io.Connector;
import javax.microedition.io.file.FileConnection;


public class $class extends $handler {
	
	private OutputStream os;
	private int offSet;
	private FileConnection fc; 
	
	public $class($handlers context) {
		super(context);
		try {
			Connection c = null;
			c = Connector.open("file:///root1/$service"+"log.txt"  , Connector.READ_WRITE);
	            this.fc = 
	                    (FileConnection) c;
	            if (!fc.exists())
	                fc.create();
	            this.os = fc.openOutputStream(fc.fileSize());
		}catch(Exception e ) {e.printStackTrace();}
	}
	
	public void handle() {
		this.handleRequest(super.getContext().getRequest());
	}
	
	public void handleRequest(String theRequest) {
		try {
			this.os.write((theRequest+"\n"+theResponse+"\n\n").getBytes(), this.offSet, 
							this.offSet+(theRequest+"\n"+super.getContext().getResponse()+"\n\n").getBytes().length);
			this.os.flush();
			this.os.close();
		}catch(IOException e) {e.printStackTrace();}
		if(super.getNextLayer() != null)
			super.getNextLayer().handle();
	}

}