<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DiscoveryManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DiscoveryManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--add key="weatherfile" value="\\peps\c$\heavyweather\currdat.lst"/-->
    <!--add key="weatherfile" value="C:\Users\kool.CNETNG\Documents\Visual Studio 2008\Projects\IoTdevices_new\deviceservicemanager\deviceservicemanager\currdat.lst"/-->
    <add key="weatherfile" value="c:\heavyweather\currdat.lst"/>
    <add key="semanticfile" value="ConfigsAndSettings\semanticdevices\weatherstation.xml"/>
	<add key="energyprofiledirectory" value="ConfigsAndSettings\energyprofiles"/>
	<add key="energypolicydirectory" value="ConfigsAndSettings\energypolicies"/>
    <add key="eventprofiledirectory" value="ConfigsAndSettings\eventprofiles"/>
    
    <add key="defaultwsbinding" value="BasicHttp"/>
   
    <add key="gateway" value=""/>
    <add key="externalswitchgateway" value="Casa Domotica"/>
   
    <add key="upnpfilters_tmp" value=""/>
    <add key="upnpfilters" value="urn:schemas-upnp-org:device:Basic:1,urn:schemas-upnp-org:device:WeightScale:1,urn:schemas-upnp-org:device:MediaServer:1,urn:schemas-upnp-org:device:MediaRenderer:1,urn:schemas-upnp-org:softdevice:WeightScale:1, urn:schemas-upnp-org:medicalsoftIoTdevice:medicaldevice:Weightscale:1, urn:schemas-upnp-org:device:MediaRenderer:1, urn:schemas-upnp-org:device:MediaServer:1, urn:schemas-upnp-org:device:InternetGatewayDevice:1,urn:schemas-upnp-org:device:BinaryLight:1,urn:schemas-wifialliance-org:device:WFADevice:1"/>
    <add key="remotedevicewsfile" value="ConfigsAndSettings\Xml\remotews.xml"/>
    <add key="rfidwsendpoint" value="CConfigsAndSettings\Xml\remotews.xml"/>
    <add key="appdevicebindings" value="ConfigsAndSettings\Xsl\applicationbindings.xsl"/>
    <add key="wsdltransform" value="ConfigsAndSettings\Xsl\IoT_scpd2wsdl.xsl"/>
    <add key="zigbeeservice" value="http://194.183.12.38:8080/axis/services/xbee"/>
    <add key="bluetoothdiscovery" value="no"/>
    <add key="zigbeediscovery" value="no"/>
    <add key="serialportdiscovery" value="no"/>
    <add key="rfswitchdiscovery" value="yes"/>
    <add key="upnpdiscovery" value="no"/>
    <add key="wsdiscovery" value="no"/>
    <add key="gpsdiscovery" value="no"/>
    <add key="devicecontrollerdiscovery" value="no"/>
    <add key="rfiddiscovery" value="no"/>
    <add key="externaldiscovery" value="yes"/>
    <add key="externalswitchdiscovery" value="no"/>
    <add key="wiadiscovery" value="no"/>
    <add key="plugwisediscovery" value="no"/>
    <add key="eplasterdiscovery" value="no"/>

    <add key="eplastercomport" value="COM7"/>
    
    <add key="softmediarenderer" value="yes"/>
    <add key="resetRFswitchesondiscovery" value="off"/>
    <add key="externalweathersensorurl" value="http://roxy.cnet.se/JAK/vader_XML.vns"/>
    <add key="externalweathersensorprovider" value="Swedish Road Authority"/>
   
    <add key="externalweathersensorids" value="227,1231,222,1222,1210,2519,2338,904"/>
    <add key="externalweathersensornames" value="Arlanda Airport,Kastrup Airport,CNet Office,Helsingborg,Malmö,Northern Border,Are Skiresort,East Gotland"/>

    <add key="includeexternalweathersensors" value="no"/>

    
    <!--add key="bluetootheventvars" value="errormessage,status, latestReadSMS,latestSentSMS"/>
    <add key="zigbeeeventvars" value="errormessage,status,sensordata,temperature"/>
    <add key="serialporteventvars" value="errormessage,status,indoortemperature,outdoortemperature"/>
    <add key="rfswitcheventvars" value="errormessage,status,switchstatus"/>
    <add key="upnpeventvars" value="errormessage,status"/>
    <add key="wseventvars" value="errormessage,status"/>
    <add key="gpseventvars" value="errormessage,status,location"/>
    <add key="rfideventvars" value="errormessage,status"/-->
    <add key="bluetootheventvars" value=""/>
    <add key="zigbeeeventvars" value=""/>
    <add key="serialporteventvars" value=""/>
    <add key="rfswitcheventvars" value="errormessage,status,switchstatus"/>
    <add key="upnpeventvars" value=""/>
    <add key="wseventvars" value=""/>
    <add key="gpseventvars" value=""/>
    <add key="rfideventvars" value=""/>
    
    <add key="bluetoothdiscoverymode" value=""/>
    <add key="zigbeediscoverymode" value=""/>
    <add key="serialportdiscoverymode" value=""/>
    <add key="rfswitchdiscoverymode" value=""/>
    <add key="upnpdiscoverymode" value=""/>
    <add key="wsdiscoverymode" value=""/>
    <add key="gpsdiscoverymode" value=""/>
    <add key="rfiddiscoverymode" value=""/>

    <add key="eventmanagerurl" value="http://localhost:8082/axis/services/EventManagerPort"/>
    <add key="networkmanagerurl" value="http://localhost:8082/axis/services/NetworkManagerApplication"/>
    <add key="storagemanagerurl" value="http://localhost:8083/axis/services/storagemanager"/>
    <!--add key="networkmanagerurl" value="http://www.cnet.se:8082/services/NetworkManagerApplication"/-->

    <add key="removehidsonstop" value="yes"/>
    <add key="soaptunnelprefix" value="/SOAPTunneling/0/"/>
    <add key="soaptunnelsuffix" value="/0/hola"/>
    <!--add key ="soaptunnelIPaddress" value="212.214.80.136"/-->
    <add key="soaptunnelIPaddress" value="127.0.0.1"/>
    <add key="soaptunnelport" value="8082"/>

    <add key="externalswitchurl" value="http://localhost:8082/axis/services"/>

    <add key="externalswitchdevices" value="WindowBox,StudyroomLight,TerraceLight,BedroomLight,HallLight,LivingroomAmbientLight,LivingroomLight,PolarizedWindow,KitchenLight"/>

    <add key="externalblindurl" value="http://localhost:8082/axis/services"/>

    <add key="externalblinddevices" value="LivingroomCanopy,LivingroomBlind,TerraceCanopy"/>

    

  </appSettings>
  <applicationSettings>
    <DiscoveryManager.Properties.Settings>
      <setting name="DiscoveryManager_NetworkManager_NetworkManagerApplicationService" serializeAs="String">
        <value>http://localhost:8082/axis/services/NetworkManagerApplication</value>
      </setting>
      <setting name="DiscoveryManager_AppDevMgr_ApplicationDeviceManager" serializeAs="String">
        <value>http://212.214.80.155:8080/ApplicationDeviceManager</value>
      </setting>
    </DiscoveryManager.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <DiscoveryManager.Properties.Settings>
      <setting name="PlugWiseServerAddress" serializeAs="String">
        <value>http://localhost:8081/</value>
      </setting>
    </DiscoveryManager.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
