package $package;

$imports

public class $class implements $interface{

	
	public $class() {
		super();
	}
		
	public String communicateWithServer(String request, String host, int port) {
		String response = "";
		try {
			DatagramConnection clientSocket = (DatagramConnection) Connector.open("datagram://" + host + ":" + port);
			Datagram dgram = clientSocket.newDatagram(request.getBytes(), request.length());
			dgram.setAddress(dgram);
			clientSocket.send(dgram);
			byte[] buffer = new byte[clientSocket.getMaximumLength()] ;
			Datagram responseDgram = clientSocket.newDatagram(buffer, buffer.length);
			clientSocket.receive(responseDgram);
			response = new String(responseDgram.getData());
			response = request.trim();
		}catch(Exception e) {
			e.printStackTrace();	
		}
		if(response == "")
			return null;
		return response;
	}

}
