package $package;

$imports

public class $class implements $interface{

	
	public $class() {
		super();
	}
		
	public String communicateWithServer(String request, String host, int port) {
		String response = "";
		
		try {
			SocketConnection clientSocket = (SocketConnection) Connector.open("socket://" + host + ":" + port);
			OutputStream cos = clientSocket.openOutputStream();
			cos.write(request.getBytes());
			InputStream cis = clientSocket.openInputStream();
			int ch = 0;
			int chCount = 0;
			boolean condition = true;
			int content = -1;
        		StringBuffer sb = new StringBuffer();
			StringBuffer auxiliar = new StringBuffer();
			while(condition){
				ch = cis.read();
				sb.append((char)ch);
				auxiliar.append((char)ch);
				if((char)ch == '\n'){
					String line = auxiliar.toString();
					if(line.toLowerCase().startsWith("content-length")){
						line = line.substring(0,line.length()-2);
						StringTokenizer st = new StringTokenizer(line,": ");
						st.nextToken();
						content = Integer.parseInt(st.nextToken());
					}
					else if(line.equalsIgnoreCase("\r\n"))
						condition = false;
					auxiliar = new StringBuffer();
				}
			}
			while(chCount<content){
				ch = cis.read();
				sb.append((char)ch);
				chCount++;
			}
			response = sb.toString();

		} catch(Exception e) {
			e.printStackTrace();
		}
		if(response == "")
			return null;
		return response;
	}
}