package $package;

public interface $interface {

	public void createConnectors(int port);
	
	public String receive();
	
	public void send(String result);

	public String getServerURL();

	public String getClientHost();
	
	public void closeConnection();

}