<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eu.linksmart.eventing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EventSubscriberService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eu.linksmart.eventing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EventSubscriberService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    </configSections>
     <log4net>
       <root>
          <level value="DEBUG" />
          <appender-ref ref="ColoredConsoleAppender" />
        </root>
        <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
          <mapping>
            <level value="ERROR" />
            <foreColor value="White" />
            <backColor value="Red, HighIntensity" />
          </mapping>
          <mapping>
            <level value="DEBUG" />
            <backColor value="Green" />
          </mapping>
          <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
          </layout>
        </appender>
      </log4net>
    <applicationSettings>
        <eu.linksmart.eventing.Properties.Settings>
            <setting name="NetworkManagerStubUrl" serializeAs="String">
                <value>http://localhost:9090/cxf/services/NetworkManager</value>
            </setting>
            <setting name="EventSubscriberService_EventManagerStub_EventManagerImplementation"
                serializeAs="String">
                <value>http://129.26.162.159:8124/Service</value>
            </setting>
            <setting name="RetryDelay" serializeAs="String">
                <value>2000</value>
            </setting>
        </eu.linksmart.eventing.Properties.Settings>
        <EventSubscriberService.Properties.Settings>
            <setting name="NetworkManagerStubUrl" serializeAs="String">
                <value>http://localhost:8082/axis/services/NetworkManagerApplication</value>
            </setting>
            <setting name="EventSubscriberService_EventManagerStub_EventManagerImplementation"
                serializeAs="String">
                <value>http://129.26.162.159:8124/Service</value>
            </setting>
        </EventSubscriberService.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <eu.linksmart.eventing.Properties.Settings>
            <setting name="SubscriberDescription" serializeAs="String">
                <value>EventSubscriber</value>
            </setting>
            <setting name="SoapTunnelUrl" serializeAs="String">
                <value>http://localhost:8082</value>
            </setting>
        </eu.linksmart.eventing.Properties.Settings>
        <EventSubscriberService.Properties.Settings>
            <setting name="SubscriberDescription" serializeAs="String">
                <value>EventSubscriber</value>
            </setting>
        </EventSubscriberService.Properties.Settings>
    </userSettings>
</configuration>