<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>LinkSmart Status and Configuration Tool</title>

<link href="LinkSmartStatus/jquery/css/smoothness/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
<script src="LinkSmartStatus/jquery/js/jquery-1.8.3.js"></script>
<script src="LinkSmartStatus/jquery/js/jquery-ui-1.9.2.custom.js"></script>
<link rel="stylesheet" href="LinkSmartStatus/css/style.css" type="text/css" media="all" />

<script type="text/javascript" src="LinkSmartStatus/js/configurator.js"></script>
<script type="text/javascript" src="LinkSmartStatus/js/networkManagerStatus.js"></script>
<!--
<script type="text/javascript" src="LinkSmartStatus/js/eventManagerStatus.js"></script>
<script type="text/javascript" src="LinkSmartStatus/js/textwrapper.js"></script>
-->
<script type="text/javascript" >

if (typeof String.prototype.startsWith != 'function') {
	  // see below for better implementation!
	  String.prototype.startsWith = function (str){
	    return this.indexOf(str) == 0;
	  };
}

if(typeof String.prototype.trim != 'function') {  
	  String.prototype.trim = function () {  
	    return this.replace(/^\s+|\s+$/g,'');  
	  };  
}

function startConfigurator() {
	getConfigurations();
	setInterval("getConfigurations()",5000);
}

function startNetworkManagerStatus() {
	getNetworkManagerInfo();
	setInterval("getNetworkManagerInfo()",10000);
	getLocalServicesInfo();
	setInterval("getLocalServicesInfo()",10000);
	getRemoteServicesInfo();
	setInterval("getRemoteServicesInfo()",10000);
	
	/*
	 * the search is anyway done only within the HTML we already got, so this function is not needed for now
	getNetworkManagerSearch();
	timerOption = setInterval("getNetworkManagerSearch()",10000);
	*/
}

/*
function startEventManagerStatus() {
	clearInterval(timerOption);
	document.getElementById("configuratorTab").innerHTML = "<h3>LinkSmart Configurator</h3>";
	document.getElementById("networkTab").innerHTML = "<h3>Network Manager Status</h3>";
	document.getElementById("eventTab").innerHTML = "<h4>Event Manager Status</h4>";
	var text = "<div id=\"searchEvent\"><div style=\"float:left; width:250px\"><h3>Seach Event Subscriptions: </h3></div><input id=\"searchEventtext\" type=\"text\" value=\"\" onkeypress=\"showEventManagerSearch(event)\"/></div>";
	text += "<div id=\"infoContent\"></div>";
	document.getElementById("content").innerHTML = text;
	loadPrevScroll = 0;
	getEventManagerInfo();
	timerOption = setInterval("getEventManagerInfo()",5000);
}

function showEventManagerSearch(event) {
	//var keynum = event.which;
	//if (keynum == 13) {
		clearInterval(timerOption);
		loadPrevScroll = 0;
		getEventManagerSearch();
		timerOption = setInterval("getEventManagerSearch()",5000);
	//}
}
*/

var networkManagerInfo = {NMAvailable:true, LocalAvailable: true, RemoteAvailable: true, SearchAvailable: true, NMs:[], LocalServices:[], RemoteServices:[], SearchServices:[]};
//var eventManagerInfo;

var origStatusFilters;

$(document).ready(function() {
	$( '#ui-services' ).tabs();
	$( '#mgrtabs' ).tabs({
		beforeActivate: function( event, ui ) {
			//console.log(event);
			//console.log(ui);
			var justShown = ui.newTab.attr('id').replace(/^li-/, '');
			getConfigurationData(cssID2mgrID(justShown));
			if (ui.oldPanel.attr('id')) {
				//we were showing something until now, delete the controls so as not to have conflicts with same-named controls in other tabs
				ui.oldPanel.empty();
			}
		}
	}).addClass( "ui-tabs-vertical ui-helper-clearfix" );
	
	origStatusFilters = {NM:false, Local:false, Remote:false, Filter:''};

	 if($('#service-type-nm').is(':checked')) {
		 origStatusFilters.NM = true;
	 }
	 if($('#service-type-local').is(':checked')) {
		 origStatusFilters.Local = true;
	 }
	 if($('#service-type-remote').is(':checked')) {
		 origStatusFilters.Remote = true;
	 }
	 
	 origStatusFilters.Filter = $('#service-filter-input').val().trim();

     $( "#reset" ).button({
         label: 'Reset',
         icons: {
             primary: "ui-icon-arrowrefresh-1-w"
         }
     })
     .click(function() {
		if (origStatusFilters.NM) {
			$('#service-type-nm').attr('checked', 'checked');
		} else {
			$('#service-type-nm').removeAttr('checked');
		}
		if (origStatusFilters.Local) {
			$('#service-type-local').attr('checked', 'checked');
		} else {
			$('#service-type-local').removeAttr('checked');
		}
		if (origStatusFilters.Remote) {
			$('#service-type-remote').attr('checked', 'checked');
		} else {
			$('#service-type-remote').removeAttr('checked');
		}
		
		$('#service-filter-input').val(origStatusFilters.Filter);

		$('#service-types').buttonset('refresh');
		
		showSearchResults(); //needed because the filter may have changed and rows need to be updated. this in turn calls showHideServiceViews which does the final show/hide
     });
     
     $( '#service-types' ).buttonset();
     $( '#service-types' ).change(function() {
    	 showHideServiceViews();
     });
	
     $('#service-types .only').button().click(function(event){
		var whichButton = $(this).attr('id');
		//console.log(whichButton); 
		switch (whichButton) {
			case 'service-nm-only':
				$('#service-type-nm').attr('checked', 'checked');
				$('#service-type-local').removeAttr('checked');
				$('#service-type-remote').removeAttr('checked');
				break;
			case 'service-local-only':
				$('#service-type-nm').removeAttr('checked');
				$('#service-type-local').attr('checked', 'checked');
				$('#service-type-remote').removeAttr('checked');
				break;
			case 'service-remote-only':
				$('#service-type-nm').removeAttr('checked');
				$('#service-type-local').removeAttr('checked');
				$('#service-type-remote').attr('checked', 'checked');
				break;
		}
	    $( "#service-types" ).buttonset('refresh');
	    
	    $( '#service-types .only').addClass('ui-corner-all'); //because jQuery mistakenly removes this after click
	    
     	$( "#service-types" ).change(); //act a change as if user has clicked on the buttons
	    return false;
	});

    $('#service-filter-input').keyup(showSearchResults);
    
	$('#service-list-data').empty(); //sometimes the browser keeps everything in the cache, delete before start
    startConfigurator();
    startNetworkManagerStatus();
});

</script>
</head>
<body>
<noscript>
<div class="noscript">To use the LinkSmart Configurator you need JavaScript enabled. 
We use JavaScript to do AJAX posts to the server and update the status in realtime. 
No data from your computer are used.</div></noscript>
<div id="wrapper">
  <div id="header" class="ui-corner-top">
  	<p class="logoimage">
  		<img src="LinkSmartStatus/images/linksmartlogo.gif" width=100/>
  	</p>
    <p class="logotext">LinkSmart<span>Status</span></p>
  </div>

<div id="ui-services">
	<ul>
		<li><a href="#ui-services-nm">Network Manager Status</a></li>
		<li><a href="#ui-services-configurator">LinkSmart Configurator</a></li>
	</ul>
	<div id="ui-services-configurator">
		<div id="mgrtabs">
			<ul>
			</ul>
		</div>
	</div>  
	<div id="ui-services-nm">
		<span id="service-toolbar" class="ui-widget-header ui-corner-all">
		    <button id="reset">play</button>
		    <span id="service-types">
		        <input type="checkbox" id="service-type-nm" checked="checked" name="service-types"/><label id="service-type-nm-label" for="service-type-nm"><span>Network Managers</span> <button class="only" id="service-nm-only">only</button></label>
		        <input type="checkbox" id="service-type-local" checked="checked" name="service-types" /><label id="service-type-local-label" for="service-type-local"><span>Local services</span> <button class="only" id="service-local-only">only</button></label>
		        <input type="checkbox" id="service-type-remote" checked="checked" name="service-types" /><label id="service-type-remote-label" for="service-type-remote"><span>Remote services</span> <button class="only" id="service-remote-only">only</button></label>
		    </span>
	        <span id="service-filter" class="ui-widget"><label for="service-filter-input">Filter</label><input type="text" id="service-filter-input" class="ui-corner-all ui-button-text" name="service-filter"/></span>
		</span>
	<div id="service-list-empty">No data yet...</div>
	<table id="service-list-data-table">
	<thead>
	<tr class="service-table-header" id="service-table-header">
	<th width="20%">Virtual Address</th>
	<th width="30%">Description</th>
	<th width="10%">Host</th>
	<th width="40%">Endpoint</th>
	</tr>
	<tr class="service-table-header" id="service-table-no-data" style="display:none">
	<th colspan="4">No data remain that fulfill your search and filtering criteria.</th>
	</tr>
	</thead>
	<tbody id="service-list-data"></tbody>
	</table>
	</div>
</div>

  <div id="footer">
    <p class="centerizer">All content copyright &copy; <a href="http://linksmart.sourceforge.net">LinkSmart project</a>, all rights reserved.</p>
  </div>
</div>
</body>
</html>
