/* CSS Document */

body { font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:12px; }

a { color:#2D2D2D; text-decoration:none; }
h1 { font-size:16px; }
h2 { font-size:14px; }
h3 { font-size:16px; font-weight:bold; font-family:Trebuchet MS; margin:0; }
h4 { font-size:16px; font-weight:bold; font-family:Trebuchet MS; margin:0; color:#1b44ff; }

#wrapper { width:1024px; margin:0 auto; padding:0; }

#header { width:100%; height:150px; background-image:url(../images/title.jpg); }
#header .logo { float:left; }
#headinfo { float:right; width:200px; margin:10px 5px 0 0; height:20px; padding:05px 0 10px 0; background:url(../images/headinfobg.gif) no-repeat; text-align:center; }
#headinfo a { color:#EFEFEF; }
#headinfo a:hover { color:#D2D2D2; border-bottom:1px solid #D2D2D2; }

.logoimage { float:left; width:200px;}
.logotext { float:left; width:200px; margin:25px 0 50px; font-family:Trebuchet MS; font-size:52px; color:#1b44ff; }
.logotext strong { color:#FFCD59; }
.logotext2 { font-size:14px; }


.paramform {
	display: block;
	font-family: 'Trebuchet MS', Verdana, Helvetica, Arial, sans-serif;
	font-size: 9pt;
	line-height: 1.3em;
	text-align: left;
	width:95%; 
	margin:5px; 
	padding:6px; 
	border:1px solid #D4D4D4;
	position: relative;
}

.paramform label {
	display:block;
	margin: 5px 0 5px 0;
}

.postinfoodd { background-color:#EFEFEF;  }
.postinfoeven { background-color:#FEFEFE; }
.range {
	display:block;
	font-size: 7pt;
	line-height: 1.3em;
}

.errormsg {
	display:none;
}

.in-error {
	background: #ffeeee;
}
.in-error .errormsg {
	display:block;
	font-size: 8pt;
	color: red;
	background: url(../images/attention.png) center left no-repeat;
	padding-left: 20px;
}


#nav { width:100%; overflow:auto; padding:1px; margin:0; background-color:#D2D2D2; }
#nav ul { margin:0; padding:0; }
#nav ul li { float:left; list-style:none; padding:0; }
#nav ul li a { display:block; width:100px; height:15px; padding:8px 0; margin:0 1px 0 0; background-color:#EFEFEF; text-align:center; }
#nav ul li a:hover { background-color: #FFFFFF; color:#999999;}

#content { width:100%; }

#left { float:left; width:30%; }
#left ul { margin: 0; padding:0; }
#left ul li { list-style:none; margin:1px 0; padding:0; }
#left ul li a { display:block; width:280px; margin:0; padding:5px; background-color:#E6E6E6; font-size:14px; font-weight:bold;  }
#left ul li a:hover { background-color:#FFCD59; }
#left ul li ul { margin: 0; padding:0; }
#left ul li ul li { list-style:none; margin:1px 0; padding:0; }
#left ul li ul li a { padding:5px; background-color:#EFEFEF; }

#right { float:left; width:70%; }

#right p a { color:#FFCD59; font-weight:bold; text-decoration:underline; }

.propertyleft { float:left; width:30%; }
.propertyright { float:left; width:70%; }

.clear { clear:both; }

.tabletitle {
	margin:0px 0px 0px 20px;
	font-size:16px;
	color:#FFCD59;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.tablecontent {
	font-size:14px;
    font-weight: bold;
    text-align: left;
    width: 100%;
}

.tabletdleft{
	width: 30%;
}

.tabletdright{
	width: 70%;
}

#optionsContainer{
	width:95%;
/*	max-height:420px;
	overflow: hidden;
*/	margin-bottom:5px;
}

.normal-tab {
	cursor: pointer;
	background: url(../images/tab-bg.png) repeat-x;
	width: 250px;
	height: 20px;
	-moz-border-radius-topleft: 5px;
	border-left: 2px solid #D2D2D2;
	border-top: 2px solid #D2D2D2;
	vertical-align: middle;
	text-align: center;
	padding: 10px 0 10px 0;
}

.right-tab {
	cursor: pointer;
	background: url(../images/tab-bg.png) repeat-x;
	width: 250px;
	height: 20px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-left: 2px solid #D2D2D2;
	border-top: 2px solid #D2D2D2;	
	border-right: 2px solid #D2D2D2;
	vertical-align: middle;
	text-align: center;
	padding: 10px 0 10px 0;
}

.left-tab-2 {
	cursor: pointer;
	background: url(../images/tab-bg-2.png) repeat-x;
	width: 167px;
	height: 13px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-left: 2px solid #D2D2D2;
	border-bottom: 2px solid #D2D2D2;	
	border-right: 2px solid #D2D2D2;
	vertical-align: middle;
	text-align: center;
	padding: 0 0 5px 0;
}

.normal-tab-2 {
	cursor: pointer;
	background: url(../images/tab-bg-2.png) repeat-x;
	width: 167px;
	height: 13px;
	-moz-border-radius-bottomright: 5px;
	border-bottom: 2px solid #D2D2D2;	
	border-right: 2px solid #D2D2D2;
	vertical-align: middle;
	text-align: center;
	padding: 0 0 5px 0;
}

#options {
	position:relative;
	left:272px;
	width: 754px;
	height: 42px;
	vertical-align: middle;
}

#suboptions {
	position:relative;
	top: 0px;
	left: 2px;
	width: 504px;
	height: 25px;
	vertical-align: middle;
	float:right;
}

#search {
	position:relative;
	top: 5px;
	right: 112px;
	vertical-align: middle;
	float:right;
	width:408px;
}

#searchtext {
	width: 150px;
}

#searchEvent {
	position:relative;
	top: 5px;
	right: 616px;
	vertical-align: middle;
	float:right;
	width:408px;
}

#searchEventtext {
	width: 150px;
}

#infoContent { 
	position:relative;
	width:100%; 
	top:40px;
}

#tableContainer {  
	border: 1px solid #666666;
  	background: #f6f6f6;
}

#infoContentwrap {  
	background: url(../images/infobg.png) repeat-x;
	border: 1px solid #666666;
	position:relative;
	overflow: hidden;
	width:100%; 
	max-height:400px;
}

#infoScrollUp {
	position: absolute; 
	top: 0px; 
	left: 5px;
}

#infoScrollDown {
	position: absolute; 
	top: 420px; 
	left: 5px;
}

#infoScrollbarTrack {  
    background-color:transparent;
	cursor:move;
	height:396px;
	position:absolute;
	right:-3px;
	top:23px;
	width:17px;  
} 

#infoScrollbarLine {  
	background-color:transparent;
	border-left:1px solid #B3B3B3;
	cursor:move;
	height:391px;
	position:absolute;
	right:1px;
	top:0;
	width:8px;
} 
  
#infoScrollbarHandler {  
    cursor:move;  
    opacity:0.9;  
} 

#optionsScrollUp {
	position: absolute; 
	top: 0px; 
	left: 5px;
}

#optionsScrollDown {
	position: absolute; 
	top: 400px; 
	left: 5px;
}

#optionsScrollbarTrack {  
    background-color:transparent;
	cursor:move;
	height:370px;
	position:absolute;
	right:2px;
	top:23px;
	width:17px;  
} 

#optionsScrollbarLine {  
	background-color:transparent;
	border-left:1px solid #B3B3B3;
	cursor:move;
	height:370px;
	position:absolute;
	right:2px;
	top:0;
	width:8px;
} 
  
#optionsScrollbarHandler {  
    cursor:move;  
    opacity:0.9;  
} 


#footer {
	position:relative;
	top:20px;
}

input.text {
width: 640px;
} 

input.btn { 
	color:#214AFF; 
	font: bold small 'trebuchet ms',helvetica,sans-serif; 
} 

table.stats {
	color: #363636;
  	text-align:left;
	vertical-align:text-top;
}


.table.stats.tbody th, tbody td {
	padding:2px;
}

tr {
	border-bottom: 1px solid #666666;
}