Manifest-Version: 1.0
Bundle-ManifestVersion: 2
Bundle-Name: $bundle_name
Bundle-SymbolicName: $project
Bundle-Version: 1.0.0
$impExpClass
Eclipse-LazyStart: true
Bundle-Activator: $activator
