<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IoT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="IoTSmartControlPoint.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
          <section name="appSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IoT.Properties.Settings>
            <setting name="IoTSmartControlPoint_OntologyManager_ApplicationOntologyManagerService"
                serializeAs="String">
                <value>http://127.0.0.1:8082/axis/services/ApplicationOntologyManagerServiceOSGi</value>
            </setting>
            <setting name="discovertransform" serializeAs="String">
                <value>C:\IoTwwwroot\IoTdevices\resolveDevices_Transform.xsl</value>
            </setting>
            <setting name="IoTSmartControlPoint_BluetoothDiscoveryManagerWS_DiscoveryManagerWS"
                serializeAs="String">
                <value>http://212.214.80.151:8080/BluetoothDiscoveryWS</value>
            </setting>
            <setting name="IoTSmartControlPoint_ApplicationDeviceManager_ApplicationDeviceManager"
                serializeAs="String">
                <value>http://212.214.80.161:8080/ApplicationDeviceManager</value>
            </setting>
            <setting name="usexslfordiscovery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HydraSmartControlPoint_ApplicationDeviceManager_ApplicationDeviceManager"
                serializeAs="String">
                <value>http://212.214.80.161:8080/ApplicationDeviceManager</value>
            </setting>
            <setting name="HydraSmartControlPoint_BluetoothDiscoveryManagerWS_DiscoveryManagerWS"
                serializeAs="String">
                <value>http://212.214.80.151:8080/BluetoothDiscoveryWS</value>
            </setting>
            <setting name="HydraSmartControlPoint_OntologyManager_ApplicationOntologyManagerService"
                serializeAs="String">
                <value>http://127.0.0.1:8082/axis/services/ApplicationOntologyManagerServiceOSGi</value>
            </setting>
        </IoT.Properties.Settings>
        <IoTSmartControlPoint.Properties.Settings>
            <setting name="IoTSmartControlPoint_BluetoothDiscoveryManagerWS_DiscoveryManagerWS" serializeAs="String">
                <value>http://localhost:8080/BluetoothDiscoveryWS</value>
            </setting>
        </IoTSmartControlPoint.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="gateway" value=""/>
    <add key="usexslfordiscovery" value="no"/>
    <add key="discovertransform" value="ConfigsAndSettings\Xsl\resolveDevices_Transform.xsl"/>
    <add key="callbacktransform" value="ConfigsAndSettings\Xsl\IoT_deviceXML2App.xsl"/>

    <add key="ontologyurl" value="http://127.0.0.1:8082/axis/services/ApplicationOntologyManagerServiceOSGi?wsdl"/>
    <!--add key="ontologyurl" value="http://127.0.0.1:9000/axis/services/ApplicationOntologyManager"/-->
    <!--add key="ontologyurl" value="http://10.95.74.249:8085/axis/services/ApplicationOntologyManager"/-->
    <!--add key="storagemanagerurl" value="http://143.107.41.22:8082/services/storagemanager"/-->
    <add key="storagemanagerurl" value="http://localhost:8082/services/storagemanager"/>



    <!--add key="ontologyurl" value="http://IoT.cnet.se:8080/axis/services/ApplicationOntologyManager"/-->

    <add key="eventmanagerurl" value="http://localhost:8082/axis/services/EventManagerPort"/>
    <add key="networkmanagerurl" value="http://localhost:8082/axis/services/NetworkManagerApplication"/>
    <add key="appdevicebindings" value="ConfigsAndSettings\Xsl\applicationbindings.xsl"/>
    <!--add key="networkmanagerurl" value="http://www.cnet.se:8082/services/NetworkManagerApplication"/-->

    <add key="soaptunnelprefix" value="/SOAPTunneling/0/"/>
    <add key="soaptunnelsuffix" value="/0/hola"/>
    <!--add key ="soaptunnelIPaddress" value="212.214.80.136"/-->
    <add key="soaptunnelIPaddress" value="127.0.0.1"/>
    <add key="soaptunnelport" value="8082"/>

    <add key="externaldiscoveryonly" value="no"/>


    <add key="upnpfilters" value="urn:schemas-upnp-org:device:Basic:1,urn:schemas-upnp-org:device:WeightScale:1,urn:schemas-upnp-org:device:MediaServer:1,urn:schemas-upnp-org:device:MediaRenderer:1,urn:schemas-upnp-org:softdevice:WeightScale:1, urn:schemas-upnp-org:medicalsoftIoTdevice:medicaldevice:Weightscale:1, urn:schemas-upnp-org:device:MediaRenderer:1, urn:schemas-upnp-org:device:MediaServer:1, urn:schemas-upnp-org:device:InternetGatewayDevice:1,urn:schemas-upnp-org:device:BinaryLight:1,urn:schemas-wifialliance-org:device:WFADevice:1"/>

    <add key="automaticdiscovery" value="yes"/>
    <add key="automaticresolve" value="yes"/>
    <add key="discoveryresolveperiod" value="60000"/>
    <add key="automaticdevicestorage" value="yes"/>
    <add key="energypolicyenforcement" value="yes"/>

    <add key="removehidsonstop" value="yes"/>

  </appSettings>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
