<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
        <EventManager.Properties.Settings>
              <setting name="EventManager_SubscriberInterface_EventSubscriberService"
                    serializeAs="String">
                    <value>http://127.0.0.1:8123/Service</value>
              </setting>
              <setting name="EventManager_NetworkManager1_NetworkManagerApplicationService"
                    serializeAs="String">
                    <value>http://localhost:8082/axis/services/NetworkManagerApplication</value>
              </setting>
              <setting name="UseNetworkManager" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="UseIPv6" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="EventManager_NetworkManager20ServiceReference_NetworkManager"
                    serializeAs="String">
                    <value>http://localhost:9090/cxf/services/NetworkManager</value>
              </setting>
              <setting name="EventManagerDesc" serializeAs="String">
                    <value>EventManager:BOB</value>
              </setting>
              <setting name="EventManagerVersion" serializeAs="String">
                    <value>2.0</value>
              </setting>
              <setting name="EventManager_SubscriberInterface2_EventSubscriber"
                    serializeAs="String">
                    <value>http://localhost:9090/cxf/services/EventSubscriber:ExampleSubscriber</value>
              </setting>
        </EventManager.Properties.Settings>
    </applicationSettings>
</configuration>
