<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EventStorage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <connectionStrings>
        <add name="EventStorage.Properties.Settings.FailedNotificationDBConnectionString"
            connectionString="Data Source=|DataDirectory|\FailedNotificationDB.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
    <applicationSettings>
        <EventStorage.Properties.Settings>
            <setting name="ProviderName" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="DatabaseConnection" serializeAs="String">
                <value>User ID=sa; Password=gubbSjuka4; enlist=true; Data Source=Blixa;Initial Catalog=EbbitsEvents;</value>
            </setting>
        </EventStorage.Properties.Settings>
    </applicationSettings>
</configuration>