<?xml version="1.0" encoding="utf-8"?>
<scpd xmlns="urn:schemas-upnp-org:service-1-0">
	<specVersion>
		<major>1</major>
		<minor>0</minor>
	</specVersion>
	<actionList>
#foreach ($UPnPActionImpl in $service.getActionsImpl())
		<action>
			<name>$UPnPActionImpl.getName()</name>
			<argumentList>
#foreach ($ActionArgument in $UPnPActionImpl.getInputArgumentList())
				<argument>
					<name>$ActionArgument.getArgumentName()</name>
					<direction>$ActionArgument.getDirection()</direction>
					<relatedStateVariable>$ActionArgument.getRelatedStateVariableName()</relatedStateVariable>
				</argument>
#end
#foreach ($ActionArgument in $UPnPActionImpl.getOutputArgumentList())
				<argument>
					<name>$ActionArgument.getArgumentName()</name>
					<direction>$ActionArgument.getDirection()</direction>
					<relatedStateVariable>$ActionArgument.getRelatedStateVariableName()</relatedStateVariable>
				</argument>
#end
			</argumentList>
		</action>
#end
	</actionList>
	<serviceStateTable>
#foreach($UPnPStateVariableImpl in $service.getStateVariablesImpl())
		<stateVariable sendEvents="no">
			<name>$UPnPStateVariableImpl.getName()</name>
                        <dataType>$UPnPStateVariableImpl.getUPnPType()</dataType>
                </stateVariable>
#end
	</serviceStateTable>
</scpd>	