package eu.linksmart.limbo.upnp;

import eu.linksmart.limbo.*;

public class $class {


#foreach($UPnPActionImpl in $operations)
#if($UPnPActionImpl.getOutputArgumentList().size() == 0)
#set($retValue = "void")
#else
#if($UPnPActionImpl.getOutputArgumentList().size() > 1)
#set($retValue = "String")
#else
#if($UPnPActionImpl.getOutputArgumentList().size() == 1)
#set($retValue = $UPnPActionImpl.getOutputArgumentList().get(0).getRelatedStateVariable().getVarDataType())	
#end
#end
#end
	public $retValue $UPnPActionImpl.getName()(#set($i = $UPnPActionImpl.getInputArgumentList().size())#set($n = 0)#foreach($ActionArgument in $UPnPActionImpl.getInputArgumentList())#set($n= $n+1)#if($n<$i)$ActionArgument.getArgumentType() $ActionArgument.getArgumentName()$comma#else$ActionArgument.getArgumentType() $ActionArgument.getArgumentName()#end#end)
	{
		if(${serviceWS}EndPoint.getEndPoints() != null)
#if($UPnPActionImpl.getOutputArgumentList().size() == 0)
#set($return = "")	
#else
#set($return = "return")
#end
#if($UPnPActionImpl.getOutputArgumentList().size() > 1)
			${return} ((${serviceWS}Service)${serviceWS}EndPoint.getEndPoints().get(0)).getOperations().$UPnPActionImpl.getName()(#set($i = $UPnPActionImpl.getInputArgumentList().size())#set($n = 0)#foreach($ActionArgument in $UPnPActionImpl.getInputArgumentList())#set($n= $n+1)#if($n<$i)$ActionArgument.getArgumentName()$comma#else$ActionArgument.getArgumentName()#end#end).setSOAPMessageLine();
#else	
	                ${return} ((${serviceWS}Service)${serviceWS}EndPoint.getEndPoints().get(0)).getOperations().$UPnPActionImpl.getName()(#set($i = $UPnPActionImpl.getInputArgumentList().size())#set($n = 0)#foreach($ActionArgument in $UPnPActionImpl.getInputArgumentList())#set($n= $n+1)#if($n<$i)$ActionArgument.getArgumentName()$comma#else$ActionArgument.getArgumentName()#end#end); 		
#end
#if($return == "return")
		${return} null;
#end
	} 

#end
}