package eu.linksmart.limbo;

public class $class{
	
	private int serverPort;
	private static String endpoint; 
	private static $serverThread st;
	private ServerProtocol protocol;
	private String path;

	public $class(ServerProtocol protocol, int thePort, String path) {
		this.serverPort = thePort;
		this.protocol = protocol;
		this.path = path;
	}

	public void runServer(){
		this.st = new $serverThread(this.protocol, this.serverPort);
		this.st.start();
		endpoint = st.getServerURL();
	}

	public static void stopServer() {
		st.setStopped(false);
		st.interrupt();
		st = null;	
	}

	public static String getEndpoint() {
		return endpoint;
	}
	

}
