package $package;

import java.io.BufferedReader;
import java.io.IOException;
import java.util.Enumeration;
import java.net.InetAddress;
import java.net.UnknownHostException;

import javax.servlet.http.HttpServlet;
import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;


public class $class extends HttpServlet {
	private static final long serialVersionUID = 1L;
	private static String location;
	private String clientHost;
	
	public $class(String serverHost, int port, String path){
		super();
		try {
			location = "http://"+InetAddress.getLocalHost().getHostAddress()+":"+port+path;
		} catch (UnknownHostException e) {
			e.printStackTrace();
                }
		${endPoint}.createEndPoints(serverHost, port);
		
		
	}

	
	public static String getEndpoint() {
		return location;
	}
	
	public void doGet(HttpServletRequest request, HttpServletResponse response) throws IOException {
		response.setContentType( "text/html" );
		response.getWriter().println("<h1>" + this.getClass().getName() + "</h1>");
	}
	
	public void doPost(HttpServletRequest request, HttpServletResponse response) throws IOException {
		String requestAsString = "";
		String responseAsString = "";
		String header = "";
		String value = "";
		this.clientHost = request.getRemoteAddr();
		if(this.clientHost.equals("127.0.0.1")) {
			try {
				this.clientHost = InetAddress.getLocalHost().getHostAddress();
			}catch(UnknownHostException e) {
				e.printStackTrace();
			} 
		}
            	try {
        	
        		requestAsString = requestAsString.concat(request.getMethod()+" / "+request.getProtocol()+"\r\n");
        	
            		Enumeration headerNames = request.getHeaderNames();
           		while( headerNames.hasMoreElements()){
            			header = (String)headerNames.nextElement();
                		value = request.getHeader(header);
                		requestAsString = requestAsString.concat(header+": "+value+"\r\n");
            		}
            		requestAsString = requestAsString.concat("\r\n");
            		BufferedReader reader = request.getReader();
            		for(String line = null; (line = reader.readLine()) != null;)
            			requestAsString = requestAsString.concat(line);
            
            		for(int i=0; i<${endPoint}.getEndPoints().size(); i++){
				responseAsString = ((${endPoint})${endPoint}.getEndPoints().elementAt(i)).handleRequest(requestAsString,this.clientHost);
					if(responseAsString != null)
						i = ${endPoint}.getEndPoints().size();
	    		}
        	}
            	catch(Exception e)
            	{
                	e.printStackTrace();
            	}
        	response.setContentType("text/xml");
		response.setContentLength(responseAsString.getBytes().length);
		response.getWriter().write(responseAsString);
	}	        
}