<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
   
    <add key="gateway" value=""/>
  
    <add key="eventmanagerurl" value="http://localhost:8082/axis/services/EventManagerPort"/>
    <add key="networkmanagerurl" value="http://localhost:8082/axis/services/NetworkManagerApplication"/>
    <add key="storagemanagerurl" value="http://localhost:8083/axis/services/storagemanager"/>
    <!--add key="networkmanagerurl" value="http://www.cnet.se:8082/services/NetworkManagerApplication"/-->

    <add key="removehidsonstop" value="yes"/>
    <add key="soaptunnelprefix" value="/SOAPTunneling/0/"/>
    <add key="soaptunnelsuffix" value="/0/hola"/>
    <!--add key ="soaptunnelIPaddress" value="212.214.80.136"/-->
    <add key="soaptunnelIPaddress" value="127.0.0.1"/>
    <add key="soaptunnelport" value="8082"/>

    

  </appSettings>
</configuration>